In [1]:
import pandas as pd
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [26]:
a=df.groupby('grps')['vals'].apply(list).reset_index()
print(a)

  grps                   vals
0    a    [12, 345, 3, 4, 52]
1    b     [1, 45, 54, 57, 3]
2    c  [14, 23, 235, 21, 87]